<div class="claim">
        <div><%= claim_classifier.name %></div>|
        <div><%= claim_classifier.description %></div>|
        <div><%= claim_classifier.begin_date %></div>|
        <div><%= claim_classifier.end_date %></div>|
        <div><%= link_to 'Show', claim_classifier %></div>|
        <div><%= link_to 'Edit', edit_claim_classifier_path(claim_classifier) %></div>|
        <div><%= link_to 'Destroy', claim_classifier, method: :delete, data: { confirm: 'Are you sure?' } %></div>|
        <div><%= link_to 'Child', new_claim_classifier_path(:parent_id => claim_classifier) %></div>
</div>
