<%= form_for(@claim_classifier) do |f| %>
  <% if @claim_classifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim_classifier.errors.count, "error") %> prohibited this claim_classifier from being saved:</h2>

      <ul>
      <% @claim_classifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :parent_id %>
	
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :begin_date %><br>
    <%= f.datetime_select :begin_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
