<h1>New claim_classifier</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Begin date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @claim_classifier.parent if @claim_classifier.parent %>
  </tbody>
</table>

<%= render 'form' %>

<%= link_to 'Back', claim_classifiers_path %>
