<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @claim_classifier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @claim_classifier.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @claim_classifier.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @claim_classifier.end_date %>
</p>

<%= link_to 'Edit', edit_claim_classifier_path(@claim_classifier) %> |
<%= link_to 'Back', claim_classifiers_path %>
