<%= form_for(@api_version) do |f| %>
  <% if @api_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_version.errors.count, "error") %> prohibited this api_version from being saved:</h2>

      <ul>
      <% @api_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
