<h1>Listing api_versions</h1>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Uri</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @api_versions.each do |api_version| %>
      <tr>
        <td><%= api_version.version %></td>
        <td><%= api_version.uri %></td>
        <td><%= api_version.description %></td>
        <td><%= link_to 'Show', api_version %></td>
        <td><%= link_to 'Edit', edit_api_version_path(api_version) %></td>
        <td><%= link_to 'Destroy', api_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api version', new_api_version_path %>
