<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @api_version.version %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @api_version.uri %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_version.description %>
</p>

<%= link_to 'Edit', edit_api_version_path(@api_version) %> |
<%= link_to 'Back', api_versions_path %>
