<%= form_for(@claim) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :originator_id %><br>
    <%= f.number_field :originator_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :pos_lat %><br>
    <%= f.text_field :pos_lat %>
  </div>
  <div class="field">
    <%= f.label :pos_lon %><br>
    <%= f.text_field :pos_lon %>
  </div>
  <div class="field">
    <%= f.label :pos_alt %><br>
    <%= f.text_field :pos_alt %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :registered_at %><br>
    <%= f.datetime_select :registered_at %>
  </div>
  <div class="field">
    <%= f.label :registration_no %><br>
    <%= f.text_field :registration_no %>
  </div>
  <div class="field">
    <%= f.label :responsible_id %><br>
    <%= f.number_field :responsible_id %>
  </div>
  <div class="field">
    <%= f.label :departament_id %><br>
    <%= f.number_field :departament_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :status_code %><br>
    <%= f.text_field :status_code %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :authority_response %><br>
    <%= f.text_area :authority_response %>
  </div>
  <div class="field">
    <%= f.label :authority_response_date %><br>
    <%= f.datetime_select :authority_response_date %>
  </div>
  <div class="field">
    <%= f.label :user_rate %><br>
    <%= f.number_field :user_rate %>
  </div>
  <div class="field">
    <%= f.label :user_feedback %><br>
    <%= f.text_area :user_feedback %>
  </div>
  <%= unless !@claim.claim_classifier.nil? then '<none>' else @claim.claim_classifier.name end %>
   <div class="field">
    <%= f.label :claim_classifier_id %><br>
    <%= f.number_field :claim_classifier_id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
