<h1>Listing claims</h1>

<table>
  <thead>
    <tr>
      <th>Originator</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Address</th>
      <th>Pos lat</th>
      <th>Pos lon</th>
      <th>Pos alt</th>
      <th>Created at</th>
      <th>Registered at</th>
      <th>Registration no</th>
      <th>Status</th>
      <th>Status code</th>
      <th>Deadline</th>
      <th>Rate</th>
      <th>Authority response</th>
      <th>Authority response date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
      <tr>
        <td><%= claim.originator_id %></td>
        <td><%= claim.title %></td>
        <td><%= claim.description %></td>
        <td><%= unless !claim.claim_classifier.nil? then '<none>' else claim.claim_classifier.name end %></td>
        <td><%= claim.address %></td>
        <td><%= claim.pos_lat %></td>
        <td><%= claim.pos_lon %></td>
        <td><%= claim.pos_alt %></td>
        <td><%= claim.created_at %></td>
        <td><%= claim.registered_at %></td>
        <td><%= claim.registration_no %></td>
        <td><%= claim.status %></td>
        <td><%= claim.status_code %></td>
        <td><%= claim.deadline %></td>
        <td><%= claim.user_rate %></td>
        <td><%= claim.authority_response %></td>
        <td><%= claim.authority_response_date %></td>
        <td><%= link_to 'Show', claim %></td>
        <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
        <td><%= link_to 'Destroy', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claim', new_claim_path %>
