<p id="notice"><%= notice %></p>

<p>
  <strong>Originator:</strong>
  <%= @claim.originator_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @claim.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @claim.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= unless !@claim.claim_classifier.nil? then '<none>' else @claim.claim_classifier.name end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @claim.address %>
</p>

<p>
  <strong>Pos lat:</strong>
  <%= @claim.pos_lat %>
</p>

<p>
  <strong>Pos lon:</strong>
  <%= @claim.pos_lon %>
</p>

<p>
  <strong>Pos alt:</strong>
  <%= @claim.pos_alt %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @claim.created_at %>
</p>

<p>
  <strong>Registered at:</strong>
  <%= @claim.registered_at %>
</p>

<p>
  <strong>Registration no:</strong>
  <%= @claim.registration_no %>
</p>

<p>
  <strong>Status:</strong>
  <%= @claim.status %>
</p>
<p>
  <strong>Status code:</strong>
  <%= @claim.status_code %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @claim.deadline %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @claim.user_rate %>
</p>

<p>
  <strong>Authority response:</strong>
  <%= @claim.authority_response %>
</p>

<p>
  <strong>Authority response date:</strong>
  <%= @claim.authority_response_date %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
