<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Fio</th>
      <th>Login</th>
      <th>Email</th>
      <th>Pass hash</th>
      <th>Address</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.patronymic_name%> <%= user.last_name %></td>
        <td><%= user.login %></td>
        <td><%= user.email %></td>
        <td><%= user.pass_hash %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
