<p id="notice"><%= notice %></p>

<p>
  <strong>Fio:</strong>
  <%= @user.first_name %> <%= @user.patronymic_name%> <%= @user.last_name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pass hash:</strong>
  <%= @user.pass_hash %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
