<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>Isid</th>
      <th>Access time</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.sid %></td>
        <td><%= session.isid %></td>
        <td><%= session.access_time %></td>
        <td><%= session.user_id %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
