<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @session.sid %>
</p>

<p>
  <strong>Isid:</strong>
  <%= @session.isid %>
</p>

<p>
  <strong>Access time:</strong>
  <%= @session.access_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @session.user_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
